# Analisi preliminare dataset Spesa Storica Comuni

In [1]:
import pandas as pd
import numpy as np

In [2]:
! head -n 2 '../pac_sose/economia/spesa_comuni/spesa_storica_servizi/spesa_storica_servizi.csv.read'

"ANNO";"COMUNE_CAT_COD";"SPESA_CCC_FC01A";"TOT_SPESA_CCC_FC01A";"SPESA_CCC_FC01B";"TOT_SPESA_CCC_FC01B";"SPESA_CCC_FC01C";"TOT_SPESA_CCC_FC01C";"SPESA_CCC_FC01D";"TOT_SPESA_CCC_FC01D";"SPESA_CCC_FC02U";"TOT_SPESA_CCC_FC02U";"SPESA_CCC_FC03U";"TOT_SPESA_CCC_FC03U";"SPESA_CCC_FC04A";"TOT_SPESA_CCC_FC04A";"SPESA_CCC_FC04B";"TOT_SPESA_CCC_FC04B";"SPESA_CCC_FC05A";"TOT_SPESA_CCC_FC05A";"SPESA_CCC_FC05B";"TOT_SPESA_CCC_FC05B";"SPESA_CCC_FC06A";"TOT_SPESA_CCC_FC06A";"SPESA_CCC_FC06B";"TOT_SPESA_CCC_FC06B";"SPESA_CCC_tot";"TOT_SPESA_CCC_tot"
"2010";"A001";"128832.9";"497170185.24";"706678.7";"1024499937.3";"210454.3";"551023543";"2160820.2";"6386493525.4";"828153";"2641561106.1";"1249230";"3568619418";"735459";"2212809015";"0";"985882751.23";"945336";"1671883262";"3036962";"7605033852.3";"1913498.49";"4673165534.2";"478163";"1443110787";"12393587.59";"33261252916.76"

In [3]:
path_spesa_comuni = '../pac_sose/economia/spesa_comuni/spesa_storica_servizi/spesa_storica_servizi.csv.read'

In [4]:
df_spesa_comuni = pd.read_csv(path_spesa_comuni, sep=';')

In [5]:
df_spesa_comuni.head()

,ANNO,COMUNE_CAT_COD,SPESA_CCC_FC01A,TOT_SPESA_CCC_FC01A,SPESA_CCC_FC01B,TOT_SPESA_CCC_FC01B,SPESA_CCC_FC01C,TOT_SPESA_CCC_FC01C,SPESA_CCC_FC01D,TOT_SPESA_CCC_FC01D,...,SPESA_CCC_FC05A,TOT_SPESA_CCC_FC05A,SPESA_CCC_FC05B,TOT_SPESA_CCC_FC05B,SPESA_CCC_FC06A,TOT_SPESA_CCC_FC06A,SPESA_CCC_FC06B,TOT_SPESA_CCC_FC06B,SPESA_CCC_tot,TOT_SPESA_CCC_tot
0,2010,A001,128832.900000,4.971702e+08,706678.700000,1.024500e+09,210454.3,551023543.0,2160820.2,6.386494e+09,...,945336.000000,1.671883e+09,3.036962e+06,7.605034e+09,1.913498e+06,4.673166e+09,478163.0,1.443111e+09,1.239359e+07,3.326125e+10
1,2010,A004,48.290741,4.971702e+08,3022.240741,1.024500e+09,54.6,551023543.0,110355.7,6.386494e+09,...,2568.000000,1.671883e+09,2.534683e+04,7.605034e+09,1.195843e+04,4.673166e+09,0.0,1.443111e+09,1.833123e+05,3.326125e+10
2,2010,A005,50458.800000,4.971702e+08,143147.200000,1.024500e+09,59466.4,551023543.0,359500.4,6.386494e+09,...,21451.000000,1.671883e+09,2.774860e+05,7.605034e+09,3.028070e+05,4.673166e+09,0.0,1.443111e+09,1.911245e+06,3.326125e+10
3,2010,A006,34853.700000,4.971702e+08,127310.400000,1.024500e+09,61798.8,551023543.0,720716.5,6.386494e+09,...,367137.353427,1.671883e+09,1.450484e+06,7.605034e+09,4.138070e+05,4.673166e+09,0.0,1.443111e+09,4.203870e+06,3.326125e+10
4,2010,A008,13393.100000,4.971702e+08,2100.000000,1.024500e+09,20444.9,551023543.0,92740.9,6.386494e+09,...,66556.000000,1.671883e+09,4.800000e+04,7.605034e+09,1.310100e+04,4.673166e+09,0.0,1.443111e+09,3.329849e+05,3.326125e+10

In [6]:
df_spesa_comuni.describe(include='all')

,ANNO,COMUNE_CAT_COD,SPESA_CCC_FC01A,TOT_SPESA_CCC_FC01A,SPESA_CCC_FC01B,TOT_SPESA_CCC_FC01B,SPESA_CCC_FC01C,TOT_SPESA_CCC_FC01C,SPESA_CCC_FC01D,TOT_SPESA_CCC_FC01D,...,SPESA_CCC_FC05A,TOT_SPESA_CCC_FC05A,SPESA_CCC_FC05B,TOT_SPESA_CCC_FC05B,SPESA_CCC_FC06A,TOT_SPESA_CCC_FC06A,SPESA_CCC_FC06B,TOT_SPESA_CCC_FC06B,SPESA_CCC_tot,TOT_SPESA_CCC_tot
count,26799.000000,26799,2.679900e+04,2.679900e+04,2.679900e+04,2.679900e+04,2.679900e+04,2.679900e+04,2.679900e+04,2.679900e+04,...,2.679900e+04,2.679900e+04,2.679900e+04,2.679900e+04,2.679900e+04,2.679900e+04,2.679900e+04,2.679900e+04,1.340100e+04,1.340100e+04
unique,NaN,6702,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,A993,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,2011.499832,NaN,8.577028e+04,5.746527e+08,1.541447e+05,1.032795e+09,8.644842e+04,5.792487e+08,8.917068e+05,5.974560e+09,...,2.552693e+05,1.710341e+09,1.232597e+06,8.258333e+09,7.130245e+05,4.777242e+09,1.727580e+05,1.157473e+09,5.013244e+06,3.359229e+10
std,1.118105,NaN,6.757747e+05,1.169119e+08,1.160821e+06,3.853813e+07,5.706915e+05,3.289653e+07,8.127964e+06,5.466493e+08,...,2.421434e+06,4.230690e+07,1.140452e+07,4.444083e+08,6.629166e+06,1.060130e+08,3.623444e+06,1.698065e+08,5.107025e+07,3.311270e+08
min,2010.000000,NaN,0.000000e+00,4.971702e+08,0.000000e+00,9.892256e+08,0.000000e+00,5.429716e+08,0.000000e+00,5.033531e+09,...,0.000000e+00,1.671883e+09,0.000000e+00,7.605034e+09,0.000000e+00,4.673166e+09,-1.029772e+07,1.001484e+09,7.159360e+02,3.326125e+10
25%,2010.000000,NaN,3.017332e+03,4.971702e+08,3.254803e+04,1.022473e+09,2.059783e+04,5.510235e+08,1.643562e+05,6.228627e+09,...,7.000000e+03,1.671883e+09,1.199990e+05,7.605034e+09,3.116500e+04,4.673166e+09,0.000000e+00,1.070603e+09,6.135613e+05,3.326125e+10
50%,2011.000000,NaN,2.244340e+04,5.072225e+08,7.223867e+04,1.024500e+09,3.893408e+04,5.510235e+08,2.981398e+05,6.249405e+09,...,3.287166e+04,1.678297e+09,2.867830e+05,8.097245e+09,1.091644e+05,4.728718e+09,0.000000e+00,1.114565e+09,1.318474e+06,3.326125e+10
75%,2012.000000,NaN,6.363805e+04,5.174737e+08,1.408708e+05,1.024500e+09,7.152880e+04,6.032929e+08,6.137037e+05,6.386494e+09,...,1.267183e+05,1.712683e+09,7.534057e+05,8.614381e+09,3.823620e+05,4.753275e+09,1.500000e+04,1.443111e+09,3.126427e+06,3.392348e+10
max,2013.000000,NaN,5.374296e+07,7.767792e+08,9.638855e+07,1.094984e+09,4.584875e+07,6.197194e+08,6.983870e+08,6.386494e+09,...,1.843937e+08,1.778518e+09,1.017224e+09,8.716966e+09,4.187557e+08,4.953856e+09,3.065708e+08,1.443111e+09,3.784947e+09,3.392348e+10

## Columns

Contengono le voci di spesa dichiarate dai comuni in base ai questionari per l'anno 2010 e 2013.

In [7]:
columns = [c for c in df_spesa_comuni.columns if not c.startswith("TOT")]
columns

['ANNO',
 'COMUNE_CAT_COD',
 'SPESA_CCC_FC01A',
 'SPESA_CCC_FC01B',
 'SPESA_CCC_FC01C',
 'SPESA_CCC_FC01D',
 'SPESA_CCC_FC02U',
 'SPESA_CCC_FC03U',
 'SPESA_CCC_FC04A',
 'SPESA_CCC_FC04B',
 'SPESA_CCC_FC05A',
 'SPESA_CCC_FC05B',
 'SPESA_CCC_FC06A',
 'SPESA_CCC_FC06B',
 'SPESA_CCC_tot']

- ANNO
- COMUNE_CAT_COD: codice comune
- SPESA_CCC_FC01A: entrate tributarie
- SPESA_CCC_FC01B: ufficio tecnico
- SPESA_CCC_FC01C: anagrafe, stato civile, leva e servizio statistico
- SPESA_CCC_FC01D: altri servizi generali
- SPESA_CCC_FC02U: polizia locale
- SPESA_CCC_FC03U: istruzione pubblica
- SPESA_CCC_FC04A: viabilita'
- SPESA_CCC_FC04B: trasporto pubblico e servizi connessi
- SPESA_CCC_FC05A: gestione del territorio
- SPESA_CCC_FC05B: ambiente
- SPESA_CCC_FC06A: settore sociale
- SPESA_CCC_FC06B: asili nido

Each column as a TOTAL_SPESA_CCC_XXXXX that represent the total expense at Italian Level

a detailed description can be found [here](https://github.com/altroisi/daf-dataset-doc/tree/master/pac_sose)

## Add Column with the City Name

In [8]:
path_comuni = '../pac_agenziaentrate/regioni_citta/comuni/archivio_comuni/ElencoComuniAttuali_20170918.csv.read'

In [9]:
df_comuni = pd.read_csv(path_comuni, sep=';')

In [10]:
df_comuni.head()

,Codice Nazionale,Sigla Provincia,Denominazione Italiana,Denominazione Estera,Codice Catastale,Ufficio Catasto Terreni,Ufficio Catasto Fabbricati,Codice Conservatoria,Codice Istat,Data Costituzione,Attesa VCT Territorio,Attesa VCT Fabbricati
0,A001,PD,ABANO TERME,NaN,D3AB,PD,PD,PD00,28001.0,NaN,NaN,NaN
1,A004,LO,ABBADIA CERRETO,NaN,C1AB,LO,LO,LO00,98001.0,NaN,NaN,NaN
2,A005,LC,ABBADIA LARIANA,NaN,C4AC,LC,LC,LC00,97001.0,NaN,NaN,NaN
3,A006,SI,ABBADIA SAN SALVATORE,NaN,I9AB,SI,SI,SI10,52001.0,NaN,NaN,NaN
4,A007,OR,ABBASANTA,NaN,V4AB,OR,OR,OR00,95001.0,NaN,NaN,NaN

In [11]:
df_comuni.describe(include='all')

,Codice Nazionale,Sigla Provincia,Denominazione Italiana,Denominazione Estera,Codice Catastale,Ufficio Catasto Terreni,Ufficio Catasto Fabbricati,Codice Conservatoria,Codice Istat,Data Costituzione,Attesa VCT Territorio,Attesa VCT Fabbricati
count,7978,7886,7978,117,7944,7580,7587,7635,7976.000000,55,26,20
unique,7978,109,7971,117,7944,100,100,138,NaN,11,1,1
top,H539,TO,SAN TEODORO,SAND IN TAUFERS,K3AH,TO,TO,BG00,NaN,01/01/2016,SI,SI
freq,1,316,2,1,1,315,315,251,NaN,25,26,20
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45003.384403,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32478.410356,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1001.000000,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16143.750000,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40002.000000,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,72043.250000,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,110010.000000,NaN,NaN,NaN

In [12]:
df_spese_comuni_merge = pd.merge(
    df_comuni, 
    df_spesa_comuni, 
    left_on='Codice Nazionale', right_on='COMUNE_CAT_COD')

In [13]:
df_spese_comuni_merge.head()

,Codice Nazionale,Sigla Provincia,Denominazione Italiana,Denominazione Estera,Codice Catastale,Ufficio Catasto Terreni,Ufficio Catasto Fabbricati,Codice Conservatoria,Codice Istat,Data Costituzione,...,SPESA_CCC_FC05A,TOT_SPESA_CCC_FC05A,SPESA_CCC_FC05B,TOT_SPESA_CCC_FC05B,SPESA_CCC_FC06A,TOT_SPESA_CCC_FC06A,SPESA_CCC_FC06B,TOT_SPESA_CCC_FC06B,SPESA_CCC_tot,TOT_SPESA_CCC_tot
0,A001,PD,ABANO TERME,NaN,D3AB,PD,PD,PD00,28001.0,NaN,...,945336.00,1.671883e+09,3.036962e+06,7.605034e+09,1.913498e+06,4.673166e+09,478163.00,1.443111e+09,1.239359e+07,3.326125e+10
1,A001,PD,ABANO TERME,NaN,D3AB,PD,PD,PD00,28001.0,NaN,...,954465.00,1.678297e+09,3.036962e+06,8.097245e+09,2.023505e+06,4.953856e+09,509108.00,1.001484e+09,NaN,NaN
2,A001,PD,ABANO TERME,NaN,D3AB,PD,PD,PD00,28001.0,NaN,...,788389.57,1.712683e+09,3.036962e+06,8.614381e+09,1.897168e+06,4.753275e+09,519205.09,1.070603e+09,NaN,NaN
3,A001,PD,ABANO TERME,NaN,D3AB,PD,PD,PD00,28001.0,NaN,...,1046093.80,1.778518e+09,3.760968e+06,8.716966e+09,2.052390e+06,4.728718e+09,627867.89,1.114565e+09,1.301675e+07,3.392348e+10
4,A004,LO,ABBADIA CERRETO,NaN,C1AB,LO,LO,LO00,98001.0,NaN,...,2568.00,1.671883e+09,2.534683e+04,7.605034e+09,1.195843e+04,4.673166e+09,0.00,1.443111e+09,1.833123e+05,3.326125e+10

In [14]:
df_comuni.shape

(7978, 12)